@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: SVN Sofia Pro;
    font-weight: 300;
    src: url("./fonts/SVN-Sofia-Pro-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: SVN Sofia Pro;
    font-weight: 400;
    src: url("./fonts/SVN-Sofia-Pro-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: SVN Sofia Pro;
    font-weight: 500;
    src: url("./fonts/SVN-Sofia-Pro-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: SVN Sofia Pro;
    font-weight: 700;
    src: url("./fonts/SVN-Sofia-Pro-Bold.ttf") format("truetype");
  }
}
